nav{
    display: flex;
    justify-content: center;
    
    background-color: rgb(81, 158, 179);
}

a{
    margin: 10px;
}
img{
    margin-left: 50%;
}
footer{
    background-color: black;
    display: flex;
    justify-content: center;
    color: aliceblue;
    padding: 10px;
}